.sign{
    border: white 3px solid;
}
.quote{
    border: none;
    background-color: royalblue;
}
.read{
    border-radius: 10px;
    border: 2px black solid;
    background-color: blue;
    color: white;
}